images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

PythonAPI/rays_pycocotools/__init__.pyc
PythonAPI/rays_pycocotools/_mask.c
PythonAPI/rays_pycocotools/_mask.so
PythonAPI/rays_pycocotools/coco.pyc
PythonAPI/rays_pycocotools/cocoeval.pyc
PythonAPI/rays_pycocotools/mask.pyc
